{#
/**
 * Available variables:
 * - run: The GitLab CI run number that produced this patch.
 * - info_yml_updated: whether the current patch updates the info.yml file. It
       will only be updated if the module will be Drupal 9 compatible.
 * - drupal_rector_version: The version of drupal rector that was used to
 *     create the patch
 * - package_info: an html list of key packages that were used to create this
       patch. Used for error reporting.
 */
#}
{% if ignore_existing_patch %}
<strong>This comment was forced and has ignored the check if a change was already posted. This is only done when we want to update the issue without waiting for changes to happen.</strong>
{% endif %}

    This is an automated patch generated using Upgrade Status and Drupal Rector. Please see the issue summary for more details. A merge request (MR) is also openend and updated.

    It is important that any automated tests available are run and that you manually test the changes.

<h3>Drupal 11 Compatibility</h3>
{% if info_yml_updated %}
    According to the <a href="https://www.drupal.org/project/upgrade_status">Upgrade Status module</a> these changes make this module <strong>compatible with Drupal 11</strong>! 🎉
    Therefore these changes update the <code>info.yml</code> file for Drupal 11 compatibility.

{% else %}
    According to the <a href="https://www.drupal.org/project/upgrade_status">Upgrade Status module</a>, even with these changes, this module is <strong>not yet compatible with Drupal 11</strong>.

    Currently <a href="https://github.com/palantirnet/drupal-rector">Drupal Rector</a>, version <a href="https://github.com/palantirnet/drupal-rector/releases/tag/{{ drupal_rector_version }}">{{ drupal_rector_version }}</a>, cannot fix all Drupal 11 compatibility problems.

    Therefore, these changes <strong>did not update</strong> the <code>info.yml</code> file for Drupal 11 compatibility.
{% endif %}

{% if post_rector_results_posted %}
    The compatibility issues that Upgrade Status found after the Drupal Rector fixes were applied are attached to help you resolve them manually.
{% endif %}

Leaving this issue open, <strong>even after committing the current patch or merging the MR</strong>, will allow the <a href="/u/project-update-bot">Project Update Bot</a> to post additional Drupal 11 compatibility fixes as they become available in <a href="https://github.com/palantirnet/drupal-rector">Drupal Rector</a>.

<h3>Debug information</h3>

<div drupalcirun="{{ run }}">Bot run #{{ run }}</div>

These packages were used to generate the fixes:
{{ package_info|raw }}
