<h3 id="summary-problem-motivation">Problem/Motivation</h3>

Hello project maintainers,

This is an automated issue to help make this module compatible with Drupal 11.

Changes will periodically be added to this issue that remove deprecated API uses. To stop further changes from being posted, change the status to anything <strong>other than</strong> Active, Needs review, Needs work or Reviewed and tested by the community. Alternatively, you can remove the "{{ bot_tag }}" tag from the issue to stop the bot from posting updates.

The changes will be posted by the <a href="/u/project-update-bot">Project Update Bot</a> official user account. This account will not receive any issue credit contributions for itself or any company.

<h3 id="summary-proposed-resolution">Proposed resolution</h3>

You have a few options for how to use this issue:

<ol>
<li><strong>Accept automated changes until this issue is closed</strong>

If this issue is left open (status of Active, Needs review, Needs work or Reviewed and tested by the community) and the "{{ bot_tag }}" tag is left on this issue, new changes will be posted periodically if new deprecation fixes are needed.

As the Drupal Rector project improves and is able to fix more deprecated API uses, the changes posted here will cover more of the deprecated API uses in the module.

Patches and/or merge requests posted by others are ignored by the bot, and general human interactions in the issue do not stop the bot from posting updates, so feel free to use this issue to refine bot changes. The bot will still post new changes then if there is a change in the new generated patch compared to the changes that the bot posted last. Those changes are then up to humans to integrate.
</li>

<li><strong>Leave open but stop new automated changes.</strong>

If you want to use this issue as a starting point to remove deprecated API uses but then don't want new automated changes, remove the "{{ bot_tag }}" tag from the issue and use it like any other issue (the status does not matter then). If you want to receive automated changes again, add back the "{{ bot_tag }}" tag.
</li>

<li><strong>Close it and don't use it</strong>

If the maintainers of this project don't find this issue useful, they can close this issue (any status <strong>besides</strong> Active, Needs review, Needs work and Reviewed and tested by the community) and no more automated changes will be posted here.

If the issue is reopened, then new automated changes will be posted.

If you are using another issue(s) to work on Drupal 11 compatibility it would be very useful to other contributors to add those issues as "Related issues" when closing this issue.</li>
</ol>

<h3 id="summary-remaining-tasks">Remaining tasks</h3>

Using the patches
<ol>
<li>Apply the latest patch in the comments by <a href="/u/project-update-bot">Project Update Bot</a> or human contributors that made it better.</li>
<li>Thoroughly test the patch. These patches are automatically generated so they haven't been tested manually or automatically.</li>
<li>Provide feedback about how the testing went. If you can improve the patch, post an updated patch here.</li>
</ol>

Using the merge request
<ol>
    <li>Review the merge request and test it.</li>
    <li>Thoroughly test the changes. These changes are automatically generated so they haven't been tested manually or automatically.</li>
    <li>Provide feedback about how the testing went. If you can improve the merge request, create a new branch and merge request and work from there.</li>
</ol>

<strong>Warning: The 'project-update-bot-only' branch will always be overwritten. Do not work in that branch!</strong>

<h4>Providing feedback</h4>

If there are problems with one of the changes posted by the <a href="https://www.drupal.org/u/project-update-bot" rel="nofollow">Project Update Bot</a>, such as it does not correctly replace a deprecation, you can file an issue in the <a href="https://www.drupal.org/project/issues/rector?categories=All" rel="nofollow">Drupal Rector issue queue</a>. For other issues with the bot, for instance if the issue summary created by the bot is unclear, use the <a href="https://www.drupal.org/project/issues/project_analysis" rel="nofollow">Project analysis issue queue</a>.
